@font-face {
    font-family: 'Tele-GroteskNor';
    src: url('fonts/truetype/Tele-GroteskNor.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TeleGrotesk Headline';
    src: url('fonts/truetype/TeleGroteskHeadline-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TeleGrotesk Headline Ultra';
    src: url('fonts/truetype/TeleGroteskHeadline-Ultra.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    background-color: #4b4b4b;
}

#workspace {
    width: 100%;
    height: 100%;
}

#toolbar {
    z-index: 999;
    position: fixed;
    top: 20px;
    right: 20px;
}

.accordion {
    width: 370px;
}

#contextMenu {
    z-index: 999;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#export {
    position: absolute;
    left: 0;
    top: 100%;
}

canvas, .textbox, .colorbox, .opaquebox, .logo, .image {
    position: absolute;
    top: 0;
    left: 0;
}

.button {
    padding: 3px;
    text-decoration: none;
}

.ui-resizable-e {
    width: 15px;
}

.ui-resizable-s {
    height: 15px;
}

.accordion-header {
    text-align: center;
    padding: 2px;
}

.colorBox {
    min-width: 20px;
    min-height: 20px;
}

#colorBoxInputs, #logoInputs {
    height: 270px;
}

#colorBoxInputs input {
    width: 80px;
}

#logoInputs input {
    width: 80px;
}

#logoInputs #logoText {
    width: 250px;
}

.textbox {
    display: inline-block;
    margin: 15px 0 5px 0;
    color:  #ffffff;
}

.description {
    font-family: 'Tele-GroteskNor', Arial;
    font-size: 18pt;
    line-height: 18pt;
    font-weight: bold;
}

.headline {
    font-family: 'TeleGrotesk Headline Ultra', Arial;
    font-size: 60pt;
    text-transform: uppercase;
}

.subheadline {
    font-family: 'TeleGrotesk Headline', Arial;
    font-size: 60pt;
    text-transform: uppercase;
}

.intro {
    font-family: 'TeleGrotesk Headline Ultra', Arial;
    font-size: 32pt;
    text-transform: uppercase;
}

.ui-selected {
    -webkit-box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.image {
    display: inline-block;
}

.image img {
    width: 100%;
    max-height: 100%;
}

.logo {
    display: inline-block;
}

.opaquebox {
    width: 700px;
    height: 300px;
}

.opaquebox canvas {
    width: 100%;
    height: 100%;
}